@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
  }
}
#close-toggle {
  display: none;
}

@media (max-width: 768px) {
  #menu-toggle {
    display: none;
  }

  #close-toggle {
    display: block;
  }
}
