<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacto</title>
    <!-- FontAsome -->
    <script
      src="https://kit.fontawesome.com/2c36e9b7b1.js"
      crossorigin="anonymous"
    ></script>
    <!--Tailwind  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Estilos -->
    <link rel="stylesheet" href="../styles/index.css" />
  </head>
  <body>
    <header id="header"></header>
    <div id="menu" class="md:hidden"></div>
    <div id="navbar"></div>
    <section class="text-gray-600 body-font relative">
      <div class="container px-5 py-24 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 md:w-1/2 w-full mb-10 md:mb-0 md:pr-10">
          <div class="bg-white rounded-lg p-8 shadow-2xl">
            <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">
              Contactanos
            </h2>

            <div class="relative mb-4">
              <label for="email" class="leading-7 text-sm text-gray-600"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
            <div class="relative mb-4">
              <label for="message" class="leading-7 text-sm text-gray-600"
                >Message</label
              >
              <textarea
                id="message"
                name="message"
                class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
              ></textarea>
            </div>
            <button
              class="text-white bg-[#8d4925] border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            >
              Button
            </button>
          </div>
        </div>

        <div class="lg:w-1/2 md:w-1/2 w-full">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53324.68190422545!2d-60.26199576916747!3d-33.35036729992161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b76793f9b400f7%3A0x622348daf45e89b1!2sSan%20Nicol%C3%A1s%20de%20Los%20Arroyos%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1697909679395!5m2!1ses!2sar"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <footer id="footer" class="bg-gray-800 text-white py-12 mt-10"></footer>

    <script src="../js/scripts.js"></script>
  </body>
</html>
