<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Productos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header id="header"></header>
    <div id="navbar"></div>

    <main class="container mx-auto py-8">
      <h2 class="text-2xl font-bold mb-4">Nuestros productos</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="bg-white shadow-md rounded-md overflow-hidden">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Producto 1"
            class="w-full"
          />
          <div class="p-4">
            <h3 class="text-lg font-bold mb-2">Producto 1</h3>
            <p class="text-gray-700">Descripción del producto 1.</p>
            <p class="text-gray-900 font-bold mt-2">$100</p>
          </div>
        </div>
        <div class="bg-white shadow-md rounded-md overflow-hidden">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Producto 2"
            class="w-full"
          />
          <div class="p-4">
            <h3 class="text-lg font-bold mb-2">Producto 2</h3>
            <p class="text-gray-700">Descripción del producto 2.</p>
            <p class="text-gray-900 font-bold mt-2">$200</p>
          </div>
        </div>
        <div class="bg-white shadow-md rounded-md overflow-hidden">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Producto 3"
            class="w-full"
          />
          <div class="p-4">
            <h3 class="text-lg font-bold mb-2">Producto 3</h3>
            <p class="text-gray-700">Descripción del producto 3.</p>
            <p class="text-gray-900 font-bold mt-2">$300</p>
          </div>
        </div>
      </div>
    </main>
    <footer id="footer" class="bg-gray-800 text-white py-12 mt-10"></footer>
  </body>
  <script src="../js/scripts.js"></script>
</html>
