<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RenovArte - Contacto</title>
    <link rel="shortcut icon" href="../images/logoIcon.png" type="image/x-icon">
    <!-- FontAsome -->
    <script
      src="https://kit.fontawesome.com/2c36e9b7b1.js"
      crossorigin="anonymous"
    ></script>
    <!-- Estilos -->
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/contacto.css" />
  </head>
  <body>
    <div id="navbar"></div>

    <section>
      <div class="containerContact">
        <div class="ContainerForm">
          <div class="contForm">
            <h2 class="FormTitulo">Contactanos</h2>

            <form
              id="form"
              action="https://formspree.io/f/meqbnevb"
              method="POST"
            >
              <label for="nombre"> Nombre </label>
              <input type="text" id="nombre" name="nombre" />
              <span id="nombreError" class="error">
                Este campo no puede estar vacío.
              </span>

              <label for="apellido"> Apellido </label>
              <input type="text" id="apellido" name="apellido" />
              <span id="apellidoError" class="error">
                Este campo no puede estar vacío.
              </span>

              <label for="email"> Email </label>
              <input type="email" id="email" name="email" />
              <span id="emailError" class="error">
                Este campo no puede estar vacío.
              </span>

              <label for="message">Message</label>
              <textarea id="message" name="message"></textarea>
              <span id="messageError" class="error"
                >Este campo no puede estar vacío.</span
              >
              <button type="submit" class="btnEnviar">Enviar</button>
            </form>
          </div>
        </div>

        <div class="containerIframe">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53324.68190422545!2d-60.26199576916747!3d-33.35036729992161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b76793f9b400f7%3A0x622348daf45e89b1!2sSan%20Nicol%C3%A1s%20de%20Los%20Arroyos%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1697909679395!5m2!1ses!2sar"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>

    <footer id="footer"></footer>

    <script src="../js/scripts.js"></script>
    <script src="../js/contacto.js"></script>
  </body>
</html>
