<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RenovArte - Galeria</title>
    <link rel="shortcut icon" href="../images/logoIcon.png" type="image/x-icon">

    <!-- FontAsome -->
    <script
      src="https://kit.fontawesome.com/2c36e9b7b1.js"
      crossorigin="anonymous"
    ></script>
    <!-- Estilos -->
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/galeria.css" />
  </head>
  <body>
    <div id="navbar"></div>

    <main class="">
      <h2 class="tituloGale">Nuestros productos</h2>

      <div id="app" class="containerGaleria">
        <select name="tipo" id="tipo" class="">
          <option value="todos">Todos</option>
          <option v-for="elemento in tipos" :value="elemento">
            {{elemento}}
          </option>
        </select>
        <button v-on:click="filtarDatos()" class="btnFiltro">Filtrar</button>

        <div class="check">
          <label for="orden">Orden:</label>
          <input type="checkbox" name="orden" id="ordenNombre" />Nombre
          <input type="checkbox" name="orden" id="ordenTipo" />Tipo
          <input type="checkbox" name="orden" id="ordenPrecio" />Precio
          <button v-on:click="ordenarDatos()" class="btnOrfenar">
            Ordenar
          </button>
        </div>
        <div class="contenedorGaleri">
          <div
            v-for="elemento in datosFinales"
            class="elementGale"
            :key="elemento.id"
          >
            <img
              v-if="elemento && elemento.imagen"
              v-bind:src="elemento.imagen"
              :alt="elemento.nombre"
            />
            <div class="p-4">
              <h3 v-if="elemento" class="nombre">{{elemento.nombre}}</h3>
              <p v-if="elemento">Tipo: {{elemento.tipo}}</p>
              <p v-if="elemento" class="desc">{{elemento.descripcion}}</p>
              <p v-if="elemento" class="precio">{{elemento.precio}}</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer id="footer"></footer>
  </body>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="../js/scripts.js"></script>
  <script src="../js/galeria.js"></script>
</html>
