<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RenovArte - Register</title>
    <link rel="shortcut icon" href="../images/logoIcon.png" type="image/x-icon">

    <!-- FontAsome -->
    <script
      src="https://kit.fontawesome.com/2c36e9b7b1.js"
      crossorigin="anonymous"
    ></script>
    <!-- Estilos -->
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/register.css" />
  </head>
  <body>
    <div id="navbar"></div>
    <div class="containerForm">
      <form class="form">
        <p class="title">Login</p>
        <p class="message">Logueate en nuestra pagina.</p>

        <label>
          <input class="input" type="email" placeholder="" required="" />
          <span>Email</span>
        </label>

        <label class="password-label">
          <input
            class="input"
            type="password"
            id="pass"
            placeholder=""
            required
          />
          <span>Contraseña</span>
          <i class="toggle-password fas fa-eye" onclick="togglePassword()"></i>
        </label>

        <button class="submit">Ingresa</button>
        <p class="signin">
          No tenes una cuenta? <a href="./register.html">Registrate</a>
        </p>
      </form>
    </div>
    <footer id="footer" class="bg-gray-800 text-white py-12"></footer>

    <script src="../js/scripts.js"></script>
    <script src="../js/register.js"></script>
  </body>
</html>
