<!DOCTYPE html>
<html lang="es">
  <head>
    <title>RenovArte - Productos</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/producto_admin.css" />
    <link
      rel="shortcut icon"
      href="../images/logoIcon.png"
      type="image/x-icon"
    />
    <script
      src="https://kit.fontawesome.com/2c36e9b7b1.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/admin.css" />
  </head>
  <body>
    <div id="navbar"></div>
    <main class="main">
      <div id="app" class="container">
        <h2 class="tituloProd">Todos los productos</h2>
        <br />
        <a class="btnProdNuevo" href="/view/producto_nuevo.html">Nuevo</a>
        <br /><br />
        <div v-if="error">
          <p>Lo sentimos , ........</p>
        </div>
        <div v-else>
          <section v-if="cargando">
            <div class="spinner-border"></div>
            <p>Cargando .....</p>
          </section>
          <section v-else>
            <div class="table-container">
              <table class="tables">
                <thead>
                  <tr>
                    <th class="table th">Id</th>
                    <th class="table th">Nombre</th>
                    <th class="table th">Precio</th>
                    <th class="table th">Stock</th>
                    <th class="table th">Tipo</th>
                    <th class="table th">Imagen</th>
                    <th class="table th">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table tr" v-for="producto in productos">
                    <td class="num">{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td class="num">${{producto.precio}}</td>
                    <td class="num">{{producto.descripcion}}</td>
                    <td class="num">{{producto.tipo}}</td>
                    <td>
                      <img
                        width="60"
                        :src="producto.imagen"
                        :alt="producto.nombre"
                      />
                    </td>
                    <td class="actions">
                      <div class="bbtns">
                        <a :href="'producto_update.html?id='+ producto.id">
                          <button class="Btn">
                            <i class="fas fa-edit"></i></button
                        ></a>
                        <button
                          class="button"
                          type="button"
                          v-on:click="eliminar(producto.id)"
                        >
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br /><br />
          </section>
        </div>
      </div>
    </main>
    <footer id="footer"></footer>
    <!--Link de Bootstrap-->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--Link de VUE-->
    <script src="../js/productos.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>
